h1 { 
  color: #2F4F4F; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 30px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
}

p { 
  color: #2F4F4F; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold;
  text-align: justify; 
}

body{
  background-color: #bed4b9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  margin-right:40px;
  margin-left:40px;
}

button{
  float:right;
  margin-right: 15px;
  border-radius: 20px;
  background-color: #2F4F4F;
  font-color: white;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:15px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
